.fast-font {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    transform: skewX(-10deg);
    display: inline-block;
}

.form-box-style {
    background-color: #efefef;
    border-radius: 10px;
    padding: 20px;
}